<!--<md-content>-->
    <!--<md-virtual-repeat-container>-->
        <!--<section ng-repeat="loc in locations | limitTo: 20" class="listing">  
            <img ng-src="https://maps.googleapis.com/maps/api/streetview?size=300x200&location={{ loc.address }}
&fov=40&pitch=0
&key=AIzaSyD3sFAc9Vhuy5HI4JvEshs0xM3rCEa5gY0" alt="placeholder">
            <div class="info">
            <h2> {{ loc.name }}</h2>
            <p>Address: {{ loc.address }}</p>
            <p>Zoning: {{ loc.zoning }}</p>
            <p>Date of Sale: {{ loc.dateOfSale | date:'longDate' }}</p>
            </div>-->
        <!--</section>-->
    <!--</md-virtual-repeat-container>-->
<!--</md-content>-->

<!--<div>
    <button ng-click="showPage('back')"> back page </button>
    <div class="pageBtn" ng-repeat="number in num">
        <button ng-click="showPage(number)">{{ number }}</button>
    </div>
    <button ng-click="showPage('next')"> next page </button>
</div>-->


<!--pagnination test-->
<section dir-paginate="loc in locations | itemsPerPage: 10" class="listing">
    <img ng-src="https://maps.googleapis.com/maps/api/streetview?size=300x200&location={{ loc.propertyAddress }}
&fov=40&pitch=0
&key=AIzaSyD3sFAc9Vhuy5HI4JvEshs0xM3rCEa5gY0" alt="placeholder">
            <div class="info">
            <h2> {{ loc.owner }}</h2>
            <p>Owner's Address: {{ loc.mailingAddress }}</p>
            <p>Address of Property Sold: {{ loc.propertyAddress }}</p>
            <p>Zoning: {{ loc.zoning }}</p>
            <p>Total Property Value: {{ loc.totalValue | currency }}</p>
            <p>Land Value: {{ loc.landValue | currency }}</p>
            <p>Building Value: {{ loc.buildingValue | currency }}</p>
            <p>Additional Value: {{ loc.additionalValue | currency }}</p>
            <p>Zoning: {{ loc.zoning }}</p>
            <p>Date of Sale: {{ loc.saleMonth | date:'MMM' }} {{ loc.saleYear }}</p>
            </div>
</section>


<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>






