<select ng-model="getCounty" ng-init="getCounty = countyList[1]" ng-change="changedValue(getCounty)" ng-options="county as county.label for county in countyList">
</select>
<h1>{{displayCounty}}</h1>
<!--pagnination test-->
<section dir-paginate="loc in locations | itemsPerPage: 10" class="listing"><button ng-click="coord(loc.longitude, loc.latitude)">
    <img ng-src="https://maps.googleapis.com/maps/api/streetview?size=300x200&location={{ loc.propertyAddress }}
&fov=40&pitch=0
&key=AIzaSyD3sFAc9Vhuy5HI4JvEshs0xM3rCEa5gY0" alt="placeholder"></button>
            <div class="info">
            <h2> {{ loc.owner }}</h2>
            <p>Address of Property Sold: <md-button ng-click="coord(loc.longitude, loc.latitude)">{{ loc.propertyAddress }}</md-button></p>
            <p><a>Owner's Address: {{ loc.mailingAddress }}</p>
            <p>Total Property Value: {{ loc.totalValue | currency }}</p>
            <p>Land Value: {{ loc.landValue | currency }}</p>
            <p>Building Value: {{ loc.buildingValue | currency }}</p>
            <p>Additional Value: {{ loc.additionalValue | currency }}</p>
            <p>Zoning: {{ loc.zoning }}</p>
            <p>Date of Sale: {{ loc.saleDate | date:'MMM' }} {{ loc.saleYear }}</p>
            </div>
</section>

<div class="text-center">
    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
</div>






